.cache/**
*/bin/**
*/obj/**
all.l
Test/x
C64.sln.DotSettings.user
asm/unittest/**
asm/generated/**
asm/presentation/**
asm/hunchback/**
prg/**
.vs/**
NuGet.Config
obj/**
/InternalTrace.*.log
/asm/generated/*
/asm/hunchback/*
/.debug-tmp/
